
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #183D3D;
    border-radius: 5px;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px 12px;
    margin: 6px 8px;
    text-decoration: none;
  }

li a:hover {
  background-color: #008170;
}

ul .right li {
  float: right;
  margin-left: auto;
  margin-right: 8px;
  padding-right: 26px;
  cursor: pointer;
}

.column {
  float: left;
}


section {
    position: relative;
    max-width: 400px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

.container {
    position: relative;
    max-width: 400px;
    display: block;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    background-color: rgb(236, 235, 233);
    margin: 1px auto;
    
}

.l-form {
    text-align: left;
}

input, textarea{
  border-style: none;
  border-radius: 3px;
  line-height: 1rem;
  font-size: .875rem;
}

label {
  font-weight: 400;
  font-size: 14px;
}

div #submit {
  background-color: aliceblue; 
  padding: 5px 10px;
}

div #submit:hover {
  background-color:dimgrey;
  color: #fffafa;
}

.highlight {
  background-color: #222831;
}

/* JS Dasar */
.calculator {
  width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.calculator input[type="text"], .calculator select, .calculator button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.calculator #result {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #dcdcdc;
  border-radius: 5px;
}