
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #183D3D;
    border-radius: 5px;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px 12px;
    margin: 6px 8px;
    text-decoration: none;
  }

li a:hover {
  background-color: #008170;
}

ul .right li {
  float: right;
  margin-left: auto;
  margin-right: 8px;
  padding-right: 26px;
  cursor: pointer;
}


/* Index */
.slides .slide {
  display: none;
  margin-top: 50px;
  text-align: center;
}

.slides .slide img{
  width: 80%;
  border: 2px ;
  border-radius: 15px;
  /*animation-name: fade;*/
  animation-duration: 1.5s;
}

.slides .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.slides .navigation .prev, .slides .navigation .next {
  cursor: pointer;
  width: 50px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: aliceblue;
  background: rgb(70, 70, 70);
  user-select: none;
  transition: 0.6s ease;
  border-radius: 50%;
}

.slides .navigation .prev:hover, .slides .navigation .next:hover {
  background: rgba(0, 0, 0, 1);
}

@keyframes fade {
  from{opacity: 0.3}
  to {opacity: 1}
}

@media (max-width: 500px){
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 18px;
    padding: 13px;
  }
}

@media (max-width: 500px){
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 15px;
    padding: 10px;
  }
}
  
@media (max-width: 500x){
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 12px;
    padding: 7px;
  }
}
  
@media (max-width: 360px){
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 11px;
    padding: 6px;
  }
}
/* Index */

.column {
  float: left;
}

.navigation .prev .next {
  border-radius: 3px;
}

.container {
    position: relative;
    max-width: 400px;
    display: block;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    background-color: rgb(236, 235, 233);
    margin: 1px auto;
    
}

.l-form {
    text-align: left;
}

input, textarea{
  border-style: none;
  border-radius: 3px;
  line-height: 1rem;
  font-size: .875rem;
}

label {
  font-weight: 400;
  font-size: 14px;
}

div #submit {
  background-color: aliceblue; 
  padding: 5px 10px;
}

div #submit:hover {
  background-color:dimgrey;
  color: #fffafa;
}

.highlight {
  background-color: #222831;
}

/* JS Dasar */
.calculator {
  width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.calculator input[type="text"], .calculator select, .calculator button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.calculator #result {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #dcdcdc;
  border-radius: 5px;
}

/* productapi.html */
section table {
  border: 1px solid;
  justify-items: center;
  align-items: center;
}


section table thead th{
  border: 1px solid;
}

section table tbody td {
  border: 1px solid;
}

button {
  padding: 5px;
  margin: 5px;
}